    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', medeia: 'all',
                                'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application',
                                    'data-turbolinks-track': 'reload' %>
        <%= render 'layouts/shim' %>
    </head>
